node_modules
.env
# -------------------------
# React
# -------------------------
dashboard/node_modules/
dashboard/dist/

# Environment Variables
.env
*.env

# Python
__pycache__/
*.pyc
*.pyo

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# AWS SAM (future)
.aws-sam/

# Terraform (if used later)
.terraform/

# Python virtual environment
venv/
.venv/
env/

# Secrets
*.pem
*.key

.env